In [1]:
import numpy as np
import pandas as pd

In [2]:
# Motor Vehicle Collisions - Crashes Data
url = 'https://data.cityofnewyork.us/api/views/h9gi-nx95/rows.csv?accessType=DOWNLOAD'
df = pd.read_csv(url)
df.head()

d:\programmerd\anaconda\lib\site-packages\IPython\core\interactiveshell.py:3049: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,CRASH DATE,CRASH TIME,BOROUGH,ZIP CODE,LATITUDE,LONGITUDE,LOCATION,ON STREET NAME,CROSS STREET NAME,OFF STREET NAME,...,CONTRIBUTING FACTOR VEHICLE 2,CONTRIBUTING FACTOR VEHICLE 3,CONTRIBUTING FACTOR VEHICLE 4,CONTRIBUTING FACTOR VEHICLE 5,COLLISION_ID,VEHICLE TYPE CODE 1,VEHICLE TYPE CODE 2,VEHICLE TYPE CODE 3,VEHICLE TYPE CODE 4,VEHICLE TYPE CODE 5
0,10/16/2016,14:00,BROOKLYN,11211,40.714878,-73.95447,POINT (-73.95447 40.714878),NORTH 6 STREET,HAVEMEYER STREET,NaN,...,Unspecified,NaN,NaN,NaN,3543015,PASSENGER VEHICLE,PICK-UP TRUCK,NaN,NaN,NaN
1,11/04/2016,9:30,NaN,NaN,NaN,NaN,NaN,WEST 168 STREET,RIVERSIDE DRIVE,NaN,...,Unspecified,NaN,NaN,NaN,3554750,SPORT UTILITY / STATION WAGON,PASSENGER VEHICLE,NaN,NaN,NaN
2,10/25/2016,15:33,BROOKLYN,11209,40.634620,-74.02842,POINT (-74.02842 40.63462),NaN,NaN,229 71 STREET,...,Unspecified,NaN,NaN,NaN,3547136,SPORT UTILITY / STATION WAGON,PASSENGER VEHICLE,NaN,NaN,NaN
3,11/06/2016,21:00,QUEENS,11416,40.682484,-73.86371,POINT (-73.86371 40.682484),75 STREET,95 AVENUE,NaN,...,Unspecified,Unspecified,Unspecified,NaN,3555199,SPORT UTILITY / STATION WAGON,PASSENGER VEHICLE,PASSENGER VEHICLE,PASSENGER VEHICLE,SPORT UTILITY / STATION WAGON
4,10/17/2016,4:00,BROOKLYN,11220,40.644455,-74.01830,POINT (-74.0183 40.644455),56 STREET,3 AVENUE,NaN,...,Unspecified,NaN,NaN,NaN,3541751,SPORT UTILITY / STATION WAGON,NaN,NaN,NaN,NaN